.achat-container{
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-header{
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: -35px;
  right: -13px;
  button{
    background: var(--warn-color);
    color: white;
  }
  button:hover{
    background: var(--accent-color);
  }
}

@media (max-width: 600px) {
  .achat-container{
    width: 60%;
  }
}

@media (max-width: 450px) {
  .achat-container{
    width: 70%;
  }
}


