<div class="payment-container">

  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

    <div>
      <h2>Adresse de livraison</h2>
        <div class="address-form">
          <label for="address">Lieu de rencontre / Livraison:</label>
          <textarea
            id="address"
            formControlName="address" 
            placeholder="Ex: Quartier Himbi, Goma"
            rows="3"
            cols="50"
          ></textarea>
                    
          @if (paymentForm.get('address')?.touched && paymentForm.get('address')?.invalid) {
            <span class="error">Veuillez indiquer un lieu de rencontre.</span>
          }
        </div>
    </div>

    <hr>

    <h2>Paiement</h2>

    <div class="payment-method">
      <h3>Choisir le mode de paiement</h3>
        
      <label class="radio-option">
        <input type="radio" formControlName="method" value="visa">
        Carte Visa
      </label>

      <div class="operator-group">
        @for (operatorSelectItem of operatorSelect; track operatorSelectItem) {
          <label class="radio-option">
            <input type="radio" 
                  formControlName="method" 
                  [value]="operatorSelectItem"> {{operatorSelectItem}}
          </label>
        }
      </div>

      @if (paymentForm.get('method')?.touched && paymentForm.get('method')?.invalid) {
        <span class="error">Veuillez choisir un mode de paiement.</span>
      }
    </div>

    <hr>

    @if (paymentForm.get('method')?.value === 'visa') {
      <div class="payment-details visa-details">
        <h4>Détails de la Carte</h4>
          
        <input type="text" formControlName="cardNumber" placeholder="Numéro de carte">
        @if (paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid) {
          <span class="error">Numéro de carte invalide.</span>
        }     
            
        <input type="text" formControlName="cardName" placeholder="Nom sur la carte">
        <div class="expiry-cvv">
          <input type="text" formControlName="expiry" placeholder="MM/AA">
          <input type="text" formControlName="cvv" placeholder="CVV">
        </div>
      </div>
    }

    @if (isMobileMoneySelected()) {
      <div class="payment-details mobile-details">
        <h4>Paiement sur {{ paymentForm.get('method')?.value }}</h4>
          
        <input type="text" formControlName="mobileNumber" placeholder="Numéro Mobile">
        @if (paymentForm.get('mobileNumber')?.touched && paymentForm.get('mobileNumber')?.invalid) {
          <span class="error">Numéro Mobile requis.</span>
        }
      </div>
    }

    <button type="submit" [disabled]="!disableButtonPayer()" class="btn-submit">
      <span class="material-icons">payment</span>
      {{ isSubmitting ? 'Traitement...' : 'Payer' }}
    </button>

  </form>
</div>