.payment-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}

/* Textarea */
textarea {
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;       /* Empêche le redimensionnement */
  width: 100%;        /* Occupe toute la largeur du parent */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  min-height: 50px;   /* Hauteur minimale */
  outline: none;
  transition: border 0.2s;
}

/* Focus */
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.payment-method label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.operator-group{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.expiry-cvv {
  display: flex;
  gap: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: var(--accent-color);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: var(--warn-color);
  font-size: 12px;
  margin-top: 2px;
}

/* Bordure rouge si erreur */
input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-color: var(--warn-color);
}

/* Optionnel : bordure verte si valide et touché */
input.ng-touched.ng-valid,
select.ng-touched.ng-valid {
  border-color: var(--primary-color);
}

@media (max-width: 500px) {
  .expiry-cvv {
    flex-direction: column;
  }
}
