<div class="payment-container">
  <h2>Paiement</h2>

  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

    <!-- Choix du formulaire -->
    <div class="payment-method">
      <h3>Choisir le mode de paiement</h3>
        
      <label class="radio-option">
        <input type="radio" formControlName="method" value="visa">
        Carte Visa
      </label>

      <div class="operator-group">
        @for (operatorSelectItem of operatorSelect; track $index) {
          <label class="radio-option">
            <input type="radio" 
                  formControlName="method" 
                  [value]="operatorSelectItem"> {{operatorSelectItem}}
          </label>
        }
      </div>

      @if (paymentForm.get('method')?.touched && paymentForm.get('method')?.invalid) {
        <span class="error">Veuillez choisir un mode de paiement.</span>
      }
    </div>

    <hr>

    <!-- Pour visa -->
    @if (paymentForm.get('method')?.value === 'visa') {
      <div class="payment-details visa-details">
        <h4>Détails de la Carte</h4>
          
        <input type="text" formControlName="cardNumber" placeholder="Numéro de carte">
        @if (paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid) {
          <span class="error">Numéro de carte invalide.</span>
        }     
            
        <input type="text" formControlName="cardName" placeholder="Nom sur la carte">
        @if (paymentForm.get('cardName')?.touched && paymentForm.get('cardName')?.invalid) {
          <span class="error">Nom requis.</span>
        }

        <div class="expiry-cvv">
          <input type="text" formControlName="expiry" placeholder="MM/AA">
          <input type="text" formControlName="cvv" placeholder="CVV">
        </div>

        @if ((paymentForm.get('expiry')?.touched && paymentForm.get('expiry')?.invalid) ||
            (paymentForm.get('cvv')?.touched && paymentForm.get('cvv')?.invalid)) {
              <span class="error">Expiration ou CVV invalide.</span>
        }
      </div>
    }

    <!-- pour mobile money -->
    @if (isMobileMoneySelected()) {
      <div class="payment-details mobile-details">
        <h4>Paiement sur {{ paymentForm.get('method')?.value }}</h4>
          
        <input type="text" formControlName="mobileNumber" placeholder="Numéro Mobile">
        @if (paymentForm.get('mobileNumber')?.touched && paymentForm.get('mobileNumber')?.invalid) {
          <span class="error">Numéro Mobile requis.</span>
        }
      </div>
    }

    <button type="submit" [disabled]="!disableButtonPayer()">
      <span class="material-icons">
        payment 
      </span>
      Payer
    </button>

  </form>
</div>
