.produits-main-container {
  position: relative;
  /* display: flex;
  flex-direction: row; */
}

.produits-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 16px;
  height: 88.5vh;
  overflow-y:auto;
}

.produit-card {
    display: flex;
    flex-direction: column;
    height: 320px;
    box-shadow:-1px 2px 5px 1px #504f4f85;
    transition: 0.3s;
}
.produit-card:hover{
  border: 5px solid var(--primary-color);
}

.prix {
  font-weight: bold;
  color: var(--primary-color); /* utilise ta couleur enfant */
}

.produit-card img {
  width: 150px;        
  height: 150px;       
  object-fit: cover;   /* pour garder le ratio et remplir le carré */
  display: block;
  margin: 0 auto;      /* centre l’image */
}

.boutton {
  background: var(--primary-color); /* couleur primaire enfant */
  color: white;               /* texte */
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.boutton:hover {
  background-color: var(--accent-color); /* un peu plus foncé au survol */
}

