.produits-main-container {
  position: relative;
}

.produits-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 16px;
  min-height: 88.5vh;
}

.produit-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 340px;
  box-shadow:-1px 2px 5px 1px #504f4f85;
  transition: 0.3s;
}

.produit-card:hover{
  border: 4px solid var(--primary-color);
}

.prix {
  font-weight: 900;
  color: var(--primary-color); /* utilise ta couleur enfant */
}

.produit-card img {
  width: 150px;        
  height: 150px;       
  object-fit: cover;   /* pour garder le ratio et remplir le carré */
  display: block;
  margin: 0 auto;      /* centre l’image */
}

mat-card-actions{
  position: absolute;
  bottom: 6px;
  display: flex;
  justify-content: center;
  margin-top: auto;  
}

.boutton {
  background: var(--primary-color); /* couleur primaire enfant */
  color: white;               /* texte */
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  margin-left: 4px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.3s;
  position: static;
  display: flex;

  span,mat-icon{
    font-size: 20px;
  }
}

.boutton:hover {
  background-color: var(--accent-color);
}

@media (920px <= width < 1095px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));  
  } 

  .produit-card {
    height: 280px;
  }
  .produit-card img{
    width: 120px;        
    height: 120px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 1rem;
      margin: 4px 0;
    }
    .description{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.9rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;

      span,mat-icon{
        font-size: 20px;
      }
    }
  }
}

@media (900px <= width < 920px){
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .produit-card {
    height: 270px;
  }

  .produit-card img{
    width: 120px;        
    height: 120px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .description{
      font-size: 0.8rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.8rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
      }
    }
  }
}

@media (815px <= width < 900px){
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .produit-card {
    height: 270px;
  }

  .produit-card img{
    width: 120px;        
    height: 120px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .description{
      font-size: 0.8rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.8rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
      }
    }
  }
}

@media (780px <= width < 815px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .produit-card {
    height: 265px;
  }

  .produit-card img{
    width: 120px;        
    height: 120px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .description{
      font-size: 0.8rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.8rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
      }
    }
  }
}

@media (600px <= width < 780px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .produit-card {
    height: 265px;
  }

  .produit-card img{
    width: 120px;        
    height: 120px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .description{
      font-size: 0.7rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
      }
    }
  }
}

@media (470px <= width < 599px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));  
  }

  .produit-card {
    height: 300px;  
    position: relative;
    margin: 5px;
  }

  .produit-card img{
    width: 110px;        
    height: 110px;
  }

  mat-card-content{
    h2{
      font-size: 1.1em;
    }
    p{
      font-size: 1.1em;
    }
  }

  mat-card-actions{
    .boutton{
      padding: 2px 8px;
      font-size: 0.9em;
    }
  }
}


@media (400px <= width < 469px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));  
  }

  .produit-card {
    height: 290px;  
    position: relative;
    margin: 5px;
  }

  .produit-card img{
    width: 100px;        
    min-height: 100px;
  }

  mat-card-content{
    h2{
      font-size: 1.19em;
    }
    p{
      font-size: 1em;
    }
  }

  mat-card-actions{
    .boutton{
      padding: 3px 6px;
      font-size: 0.8em;
    }
  }
}

@media (330px <= width <= 399px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));  
  }

  .produit-card {
    height: 290px;  
    position: relative;
    margin: 5px;
  }

  .produit-card img{
    width: 80px;        
    min-height: 80px;
  }

  mat-card-content{
    h2{
      font-size: 1em;
    }
    p{
      font-size: 0.9em;
    }
  }

  mat-card-actions{
    .boutton{
      padding: 2px 5px;
      font-size: 0.7em;
    }
  }
}

@media (width < 329px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  
  }

  .produit-card {
    height: 280px;  
    position: relative;
    margin: 5px;
  }

  .produit-card img{
    width: 70px;        
    min-height: 70px;
  }

  mat-card-content{
    h2{
      font-size: 0.9em;
    }
    p{
      font-size: 0.8em;
    }
  }

  mat-card-actions{
    .boutton{
      padding: 2px 4px;
      font-size: 0.6em;
    }
  }
}