.produits-main-container {
  position: relative;
}

.produits-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 16px;
  min-height: 88.5vh;
}

.produit-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 290px;
  box-shadow:-1px 2px 5px 1px #504f4f85;
  transition: 0.3s;
}

.produit-card:hover{
  border: 4px solid var(--primary-color);
}

.prix {
  font-weight: 900;
  color: var(--primary-color); /* utilise ta couleur enfant */
}

.produit-card img {
  width: 150px;        
  height: 150px;       
  object-fit: cover;   /* pour garder le ratio et remplir le carré */
  display: block;
  margin: 0 auto;      /* centre l’image */
}

mat-card-actions{
  position: absolute;
  bottom: 6px;
  display: flex;
  justify-content: center;
  margin-top: auto;  
}

.boutton {
  background: var(--primary-color); /* couleur primaire enfant */
  color: white;               /* texte */
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  margin-left: 4px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.3s;
  position: static;
  display: flex;
  align-items: center;

  span,mat-icon{
    font-size: 20px;
    display: flex;
    align-items: center;
  }
}

.boutton:hover {
  background-color: var(--accent-color);
}

@media (920px <= width < 1095px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));  
  } 

  .produit-card {
    height: 230px;
  }
  .produit-card img{
    width: 120px;        
    height: 120px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 1rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.9rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;

      span,mat-icon{
        font-size: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (900px <= width < 920px){
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .produit-card {
    height: 220px;
  }

  .produit-card img{
    width: 110px;        
    height: 110px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.8rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 8px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (815px <= width < 900px){
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .produit-card {
    height: 205px;
  }

  .produit-card img{
    width: 95px;        
    height: 95px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.9rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.8rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 5px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (780px <= width < 815px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .produit-card {
    height: 195px;
  }

  .produit-card img{
    width: 80px;        
    height: 80px;
  }

  mat-card-content{
    margin: 4px 0;
    h2{
      font-size: 0.85rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.75rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    button {
      padding: 4px 5px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 18px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (735px <= width < 780px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .produit-card {
    height: 180px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 3px 0;
      h2{
        font-size: 0.75rem;
        margin: 3px 0;
      }
      .prix {
        font-size: 0.7rem;
        margin: 3px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 3px 0;
    h2{
      font-size: 0.8rem;
      margin: 4px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 4px 0;
    }
  }

  mat-card-actions{
    bottom: 2px;
    button {
      padding: 4px 5px;
      font-weight: 800;
      font-size: 0.6rem;
      span,mat-icon{
        font-size: 15px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (695px <= width < 735px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .produit-card {
    height: 175px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 3px 0;
      h2{
        font-size: 0.7rem;
        margin: 3px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 3px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.75rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 2px;
    button {
      padding: 4px;
      font-weight: 800;
      font-size: 0.6rem;
      span,mat-icon{
        font-size: 15px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (660px <= width < 695px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .produit-card {
    height: 165px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.65rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 2px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.7rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 2px;
    button {
      padding: 4px 2px;
      font-weight: 800;
      font-size: 0.54rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (550px <= width < 660px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .produit-card {
    height: 165px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.65rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 2px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.8rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 2px;
    button {
      padding: 3px;
      font-weight: 800;
      font-size: 0.55rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (514px <= width < 550px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .produit-card {
    height: 165px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.65rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 2px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.7rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 4px;
      font-weight: 800;
      font-size: 0.5rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (500px <= width < 514px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .produit-card {
    height: 165px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.65rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 2px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.7rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 3px;
      font-weight: 800;
      font-size: 0.5rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (485px <= width < 500px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  }

  .produit-card {
    height: 165px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.65rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 2px 0;
      }
      }
  }

  .produit-card img{
    width: 70px;        
    height: 70px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.7rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 3px;
      font-weight: 800;
      font-size: 0.5rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (469px <= width < 485px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .produit-card {
    height: 175px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 1px 0;
      h2{
        font-size: 0.6rem;
        margin: 1px 0;
      }
      .prix {
        font-size: 0.6rem;
        margin: 1px 0;
      }
    }
  }

  .produit-card img{
    width: 65px;        
    height: 65px;
  }

  mat-card-content{
    margin: 2px 0;
    h2{
      font-size: 0.7rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 2px 0;
      margin-left: 2px;
      font-weight: 700;
      font-size: 0.5rem;
      span,mat-icon{
        font-size: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (383px <= width < 469px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .produit-card {
    height: 170px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.7rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.7rem;
        margin: 1px 0;
      }
    }
  }
  .produit-card img{
    width: 65px;        
    height: 65px;
  }

  mat-card-content{
    margin: 2px;
    h2{
      font-size: 0.8rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 2px;
      margin-left: 2px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (370px <= width < 383px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }

  .produit-card {
    height: 170px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.7rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.7rem;
        margin: 1px 0;
      }
    }
  }
  .produit-card img{
    width: 65px;        
    height: 65px;
  }

  mat-card-content{
    margin: 2px;
    h2{
      font-size: 0.75rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 2px;
      margin-left: 2px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (330px <= width < 370px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }

  .produit-card {
    height: 170px;
  }

  .produit-card:hover{
    mat-card-content{
      margin: 2px 0;
      h2{
        font-size: 0.7rem;
        margin: 2px 0;
      }
      .prix {
        font-size: 0.7rem;
        margin: 1px 0;
      }
    }
  }
  .produit-card img{
    width: 65px;        
    height: 65px;
  }

  mat-card-content{
    margin: 2px;
    h2{
      font-size: 0.75rem;
      margin: 3px 0;
    }
    .prix {
      font-size: 0.7rem;
      margin: 3px 0;
    }
  }

  mat-card-actions{
    bottom: 0px;
    button {
      padding: 2px;
      margin-left: 2px;
      font-weight: 800;
      font-size: 0.7rem;
      span,mat-icon{
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (width < 329px) {
  .produits-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  
  }

  .produit-card {
    height: 280px;  
    position: relative;
    margin: 5px;
  }

  .produit-card img{
    width: 70px;        
    min-height: 70px;
  }

  mat-card-content{
    h2{
      font-size: 0.9em;
    }
    p{
      font-size: 0.8em;
    }
  }

  mat-card-actions{
    .boutton{
      padding: 2px 4px;
      font-size: 0.6em;
    }
  }
}