.mat-toolbar {
  background-color: var(--primary-color); /* Vert moyen */
  color: white;
  min-height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.8rem;
  font-weight: 500;
}


.menu-pcp{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boutton {
  background: var(--accent-color);
  color: white !important;            
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin: 0 5px;
}

/* L'état actif permanent */
.boutton.active-link {
  background-color: white !important; /* Inversion des couleurs */
  color: var(--accent-color) !important;
  /* border-bottom: 2px solid white;  */
}

/* S'assurer que l'icône change aussi de couleur dans l'état actif */
.boutton.active-link mat-icon {
  color: var(--accent-color) !important;
}

.boutton:hover{
  background: var(--primary-color) !important;
  color: white !important;
  border: 2px solid white;

  mat-icon {
    color:white !important;
  }
}

/* Cacher le bouton mobile par défaut */
.btn-mobile {
  display: none;
}

/* --- RESPONSIVE --- */
@media (600px <= width < 750px) {
  .logo {
    font-size: 1.5rem;
  }

  .boutton {     
    padding: 4px 8px;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .menu-second{
    display: none;
  }
  
  .btn-mobile {
    display: block;
    color: white !important;
  }
  
}

@media (495px <= width < 600px) {
  .mat-toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch
  }

  .menu-pcp{
    height: 40%;
  }

  .menu-first, .menu-second{
    height: 100%;
  }

  .boutton {     
    padding: 2px 8px;
    font-size: 0.9rem;
    border-radius: 5px 5px 0 0;
    height: 100%;
  }
  
  .logo {
    font-size: 1.7rem;
  }
}

@media (max-width: 350px) {
  /* On cache le menu complet */
  .menu-pcp {
    display: none;
  }

  /* On affiche le bouton hamburger */
  .btn-mobile {
    display: block;
  }
  
  .logo {
    font-size: 1.2rem;
  }
}
