.product-detail-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.product-card {
  display: flex;
  position: relative;
  gap: 2rem;
  max-width: 900px;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

/* button go back */
.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  button{
    background: var(--warn-color);
    color: white;
  }
  button:hover{
    background: var(--accent-color);
  }
}

/* ----- Image ----- */
.product-image img {
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

/* ----- Info ----- */
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.product-description {
  color: #555;
  margin-bottom: 1.2rem;
}

.product-meta p {
  margin: 0.3rem 0;
  font-size: 1rem;
}

/* ----- Buttons ----- */
.actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.3rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn.primary {
  background: var(--primary-color);
  color: white;
}

.btn.primary:hover {
  background: var(--accent-color);
}

.error-msg{
  color: var(--warn-color);
  font-size: 1.5rem;
  font-weight: 700;
}

/* ----- Responsive mobile ----- */
@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    text-align: center;
  }

  .product-image img {
    width: 100%;
  }

  .actions {
    justify-content: center;
  }
}
