<div class="product-detail-container">
  <div class="product-card">

    @if(produit){
         <!-- Image du produit -->
        <div class="product-image">
        <img [src]="produit.imageUrl" alt="{{ produit.nom }}">
        </div>

        <div class="back-button">
            <button mat-icon-button color="warn" (click)="goBack()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <!-- Informations -->
        <div class="product-info">
            <h1 class="product-title">{{ produit.nom }}</h1>

            <div class="product-description">
                <p><strong>Code:</strong> {{produit.code}}</p>
                <p><strong>Classement:</strong> {{ produit.classement }}</p>
                <p><strong>Categorie:</strong> {{ produit.categorie}}</p>
                <p><strong>Type:</strong> {{ produit.type}}</p>
                <p><strong>Description:</strong> {{ produit.description }}</p>

                <div class="product-options">

                    <div class="option-group">
                        <p class="option-title"><strong>Taille:</strong></p>
                        <div class="option-choices">
                            @for (taille of produit.taille; track $index) {
                                <label class="simple-select"> 
                                    <input 
                                        type="radio" 
                                        name="selectedTaille" 
                                        [value]="taille" 
                                        [checked]="taille === selectedTaille" 
                                        (change)="selectOption('taille', taille)"
                                    >
                                    <span>{{taille}}</span>
                                </label>
                            }
                        </div>
                    </div>

                    <div class="option-group">
                        <p class="option-title"><strong>Couleur:</strong></p>
                        <div class="option-choices">
                            @for (couleur of produit.couleur; track $index) {
                                <label class="simple-select">
                                    <input 
                                        type="radio" 
                                        name="selectedCouleur" 
                                        [value]="couleur" 
                                        [checked]="couleur === selectedCouleur" 
                                        (change)="selectOption('couleur', couleur)"
                                    >
                                    <span>{{couleur}}</span>
                                </label>
                            }
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="product-meta">
                <p><strong>Prix :</strong> {{ produit.prix }} {{produit.devise}}</p>
            </div>
        </div>
    } @else {
        <app-loading></app-loading>
    }
  </div>
</div>

