.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f4f7f6;
  padding: 20px;
  margin-top: 20px;
}

.register-card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Largeur max sur desktop */
}

h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--primary-color);     /* Couleur du label */
  transition: color 0.3s ease;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* .input-wrapper input {
  padding-right: 45px; 
} */


input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid var(--primary-color); /* Bordure légèrement plus épaisse */
  border-radius: 6px;
  font-size: 1rem;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* --- ÉTAT : FOCUS (Quand on clique dans le champ) --- */
input:focus {
  outline: none;
  border:1.5px solid var(--accent-color);
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  width: 10%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8c8d;
  z-index: 20; /* S'assure que le bouton est cliquable */
}

.toggle-password:hover {
  color: var(--accent-color);
  border: none !important;
}

/* Changement de couleur du label au focus */
.form-group:focus-within label {
  color: var(--accent-color);
}

/* --- ÉTAT : ERREUR (Validation Angular) --- */
input.ng-invalid.ng-touched {
  border:1.5px solid var(--warn-color);
}

small {
  color: var(--warn-color);
  font-size: 0.8rem;
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  color: var(--primary-color);
  background: none;
  border: 1.5px solid var(--primary-color);
}

/* Media Query pour petits écrans */
@media (max-width: 650px) {
  .register-container{
    margin: 20px auto;
    width: 75%;
  }

  .register-card {
    padding: 1.5rem;
  }
}