
/* HERO */
.hero {
  background: linear-gradient(to bottom right, var(--primary-color), var(--accent-color));
  color: white;
  padding: 20px 20px;
  text-align: center;
  border-radius: 0 0 30px 30px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.hero p {
  font-size: 1.3rem;
  opacity: 0.9;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  overflow-x: hidden;
}

/* SECTIONS */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 60px 0;
}

.section.reverse {
  flex-direction: row-reverse;
}

/* TEXT BLOCK */
.text-block {
  flex: 1;
  color: var(--text-dark);
}

.text-block h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--accent-color);
}

.text-block ul li,
.text-block p {
  line-height: 1.7;
  font-size: 1.1rem;
}


/* IMAGE BLOCK */
.image-block {
  flex: 1;
}

.image-block img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* --- ANIMATIONS AU SCROLL --- */
.slide-left,
.slide-right,
.animate-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.slide-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-left {
  transform: translateX(-60px);
}

.slide-right {
  transform: translateX(60px);
}

.slide-center{
  display: flex;
  flex-direction: column;
}

.animate-fade.visible {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    padding: 10px 10px;
  }

  .hero h1 {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .section,
  .section.reverse {
    flex-direction: column;
    text-align: center;
  }
  li{
    text-align: left;
  }
  .image-block img {
    max-height: 350px;
    object-fit: cover;
  }
}
