
<div class="panier-container">
    
    <div class="panier-header">
        <h2>Mon Panier ({{ items.length }})</h2>
        <div class="header-actions">
            @if (items.length > 0 && !showPaiement) {
                <button mat-button color="warn" (click)="viderToutLePanier()" class="btn-vider-tout">
                    <mat-icon>delete_sweep</mat-icon>
                    Vider le panier
                </button>
            }
            <div class="back-button">
                <button mat-icon-button color="warn" (click)="goBack()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>

    @if (items.length > 0) {
        <div class="panier-liste">
            @for (item of items; track $index) {
                <div class="panier-item">
                    <div class="panier-small-item">
                        <!-- Image du produit -->
                        <img [src]="getAfficheImageUrl(item)" alt="{{item.nom}}" class="item-image">
                
                        <!-- Infos produit -->
                        <div class="item-info">
                            <h3>{{ item.nom }}</h3>
                            <p>Prix unitaire : {{ item.prix }} {{ item.devise}}</p>
                            <p>Quantite : {{ item.quantity }}</p>
                            <p>Taille : {{ item.tailleSelectionnee }}</p>
                            <p>Couleur: {{ item.couleurSelectionnee }}</p>
                        </div>
                
                        <!-- Total, suppression et mise en jour -->
                        <div class="item-total">
                            <p>Total : {{ item.prixTotal}} {{ item.devise}}</p>

                            <div class="btn-actions">
                                <button class="supprimer" (click)="supprimer(item)">Supprimer</button>
                                <button class="updater" (click)="goToUpdateProduit(item)">Mises a jour</button>
                            </div>
                        </div>
                    </div>
                    @if (idProduitUpdate.includes(item.id)) {
                        <app-achat-form 
                            [produit]="item"
                            (validationMiseAJour)="articleMiseAJour($event)"
                        ></app-achat-form>
                    }
                </div>
            }
        </div>
    
        <!-- Total général -->
        <div class="panier-total">
            <h3>Total général en USD : {{ getTotalUSD() }} $</h3>
            <h3>Total général en CDF : {{ getTotalCDF() }} Fc</h3>
            <button (click)="togglePaiement()" class="btn-valider">Paiement</button>
        </div>

        <!-- Paiement -->
        @if (showPaiement) {
            <div>
                <app-paiement [articleAchete]="items"></app-paiement>
            </div>
        }
    } @else {
        <div class="panier-vide">
            <p>Votre panier est vide.</p>
        </div>
    }
</div>

