
<div class="panier-container">
    
    <h2>Mon Panier</h2>

    <div class="back-button">
      <button mat-icon-button color="warn" (click)="goBack()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    @if (items.length > 0) {
        <div class="panier-liste">
            @for (item of items; track $index) {
                <div class="panier-item">
                    <div class="panier-small-item">
                        <!-- Image du produit -->
                        <img [src]="item.imageUrl" alt="{{item.nom}}" class="item-image">
                
                        <!-- Infos produit -->
                        <div class="item-info">
                            <h3>{{ item.nom }}</h3>
                            <p>Prix unitaire : {{ item.prix }} {{ item.devise}}</p>
                    
                            <div class="quantite-control">
                                <button (click)="decrement(item)">-</button>
                                <span>{{ item.quantity }}</span>
                                <button (click)="increment(item)">+</button>
                            </div>
                        </div>
                
                        <!-- Total, suppression et mise en jour -->
                        <div class="item-total">
                            <p>Total : {{ item.getTotal()}} {{ item.devise}}</p>

                            <div class="btn-actions">
                                <button class="supprimer" (click)="supprimer(item)">Supprimer</button>
                                <button class="updater" (click)="goToUpdateProduit(item)">Mise en jour</button>
                            </div>
                        </div>
                    </div>
                    @if (idProduitUpdate.includes(item.id)) {
                        <app-achat-form [produit]="item"></app-achat-form>
                    }
                </div>
            }
        </div>

        <!-- Livraison address -->
        <div>
            <h2>Adresse de livraison</h2>
            <form #livraisonForm="ngForm" >
                <div class="address-form">
                    <label for="address">Lieu de rencontre:</label>
                    <textarea
                        id="address"
                        name="address"
                        ngModel
                        required
                        placeholder="123 Rue Exemple"
                        rows="3"
                        cols="50"
                    ></textarea>
                </div>
            </form>
        </div>
    
        <!-- Total général -->
        <div class="panier-total">
            <h3>Total général : {{ getTotal() | currency:'USD' }}</h3>
            <button (click)="togglePaiement()" class="btn-valider">Paiement</button>
        </div>

        <!-- Paiement -->
        @if (showPaiement) {
            <div>
                <app-paiement></app-paiement>
            </div>
        }
    } @else {
        <div class="panier-vide">
            <p>Votre panier est vide.</p>
        </div>
    }
</div>

