.panier-container {
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}

.panier-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-vider-tout {
  color: #e74c3c !important;
  font-size: 0.9em;
}

.panier-vide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  color: #bdc3c7;
}

.icon-empty {
  font-size: 64px;
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.titre-panier {
  text-align: center;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  button{
    background: var(--warn-color);
    color: white;
  }
  button:hover{
    background: var(--accent-color);
  }
  
}

.panier-item {
  background: #f3f3f3;
  padding: 6px 8px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.panier-small-item{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}


.item-image {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.item-info {
  flex: 1;
  h3{
    margin: 4px;
  }
  p{
    margin: 4px;
  }
}

.btn-actions{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.supprimer {
  background: var(--warn-color);
  color: white;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.updater{
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.updater:hover{
  background: var(--accent-color);
}

/* adresse */
/* Conteneur du champ */
.address-form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

/* Label */
label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.panier-total {
  margin-top: 20px;
  text-align: right;
}

.btn-valider {
  padding: 10px 20px;
  background: var(--primary-color);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.3s;
}
.btn-valider:hover{
  background: var(--accent-color);
}

.panier-vide{
  color: var(--warn-color);
}

@media (max-width: 550px) {
  .panier-container{
    max-width: 80%;
  }

  .item-image {
    width: 60px;
    height: 60px;
  }

  .item-info{
    h3{
      font-size: 0.9rem;
      margin: 2px;
    }
    p{
      font-size: 0.8rem; 
      margin: 2px;
    }
  }

}

@media (max-width: 450px){
  .panier-small-item{
    display: flex;
    gap: 2px;
  }

  .item-total{
    width: 100px;

    p{
      font-size: 0.8rem;
    }
  }
}