@if (produit) {
  <form [formGroup]="produitForm" (ngSubmit)="onSubmit()" class="form-container">

    @if (isAchatDirect) {
      <div class="image-block">
          <img [src]="currentImageUrl" [alt]="produit.nom">
      </div>

      <div>
        <h3>Nom : {{produit.nom}}</h3>
        <h3>Prix : {{produit.prix }} {{ produit.devise}}</h3>
        <p>Description: {{produit.description}}</p>
      </div>
    }
    @if(!isAchatDirect){
      <p>Description: {{produit.description}}</p>
    }
  
    <div class="form-group">

      <!-- gere la quantite -->
      <div class="form-quantite">
        <div class="input-group">
          <label for="quantity">Quantite</label>
          <input id="quantity" formControlName="quantity" type="number" min="1" step="1" />
        </div>

        <div class="error-messages">
          @if (produitForm.get('quantity')?.errors?.['required']
          || produitForm.get('quantity')?.errors?.['min']
          || produitForm.get('quantity')?.errors?.['notInteger']
          ) {
            <span class="error-message">La quantité est obligatoire, doit être au moins 1 et doit être un entier</span>
          }
        </div>
      </div>

        <!-- gere la taille -->
      <div class="radio-group taille">
        <label>Taille :</label>

        @for (tailleOption of produit.taille; track $index) {
          <div class="radio-option">
            <input 
              type="radio" 
              [id]="'taille-' + $index" 
              formControlName="taille" 
              [value]="tailleOption"
              required 
            />
            <label [for]="'taille-' + $index">{{tailleOption}}</label>
          </div>
        }

        @if (produitForm.get('taille')?.invalid && produitForm.get('taille')?.touched) {
          <small style="color: red;">Veuillez sélectionner une taille.</small>
        }
      </div>

      <!-- gere la couleur -->
      <div class="radio-group couleur">
        <label>Couleur :</label>
        @for (couleurOption of produit.couleur; track $index) {
          <div class="radio-option">
            <input 
              type="radio" 
              [id]="'couleur-' + $index" 
              formControlName="couleur" 
              [value]="couleurOption"
              required 
            />
            <label [for]="'couleur-' + $index">{{couleurOption}}</label>
          </div>
        }
        @if (produitForm.get('couleur')?.invalid && produitForm.get('couleur')?.touched) {
          <small style="color: red;">Veuillez sélectionner une couleur.</small>
        }
      </div>

    </div>

    @if(!(produitForm.get('quantity')?.errors?.['required']
    || produitForm.get('quantity')?.errors?.['min']
    || produitForm.get('quantity')?.errors?.['notInteger']
    )){
       <div>
        <h3>Prix total : {{prixTotal}} {{ produit.devise}}</h3>
      </div>
    }

    <div class="boutton-container">
      @if (isAchatDirect) {
        <button type="button" 
          class="btn" 
          [disabled]="produitForm.invalid" 
          (click)="goToActivePayement()"
          >
            <span class="material-icons">
              {{ showPayementComponent ? 'lock_open' : 'lock' }}
            </span>
            {{ showPayementComponent ? 'Masquer Paiement' : 'Procéder au Paiement' }}
          </button>
      } @else {
        <button type="submit" 
        class="btn" 
        [disabled]="produitForm.invalid"
        >
          Valider
        </button>
      }
    </div>
    
    @if(showPayementComponent){
      <app-paiement [articleAchete]="articleAchete()"></app-paiement>
    }

  </form>
} @else {
  <div class="error-message">
    <span>Aucun produit</span>
  </div>
}

