
.image-block{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-quantite{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin-bottom: 10px;

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input{
    margin-left: 10px;
  }
}

.radio-group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.boutton-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  width: 40%;
  padding: 12px;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: var(--accent-color);
}

/* css pour erreur */
.error-message {
  color: var(--warn-color);           /* Texte rouge */
  font-size: 0.9rem;    /* Taille un peu plus petite */
  margin-top: 4px;      /* Petit espace sous l’input */
}

/* Bordure rouge sur l’input invalide */
input.ng-invalid.ng-touched {
  border-color: var(--warn-color);
  outline: none;
  box-shadow: 0 0 3px red;
}

/* Bordure verte sur l’input valide */
input.ng-valid.ng-touched {
  border-color: green;
  box-shadow: 0 0 3px green;
}
/* pour le button submit */
.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 450px){
  .image-block{
    img{
      width: 130px;
      height: 130px;
    }
  }
}
