/* .form-container {
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: var(--accent-color);
}

.back-button {
  position: absolute;
  top: -35px;
  right: -13px;
  button{
    background: var(--warn-color);
    color: white;
  }
  button:hover{
    background: var(--accent-color);
  }
  
}

/* css pour erreur */
.error-message {
  color: red;           /* Texte rouge */
  font-size: 0.9rem;    /* Taille un peu plus petite */
  margin-top: 4px;      /* Petit espace sous l’input */
}

/* Bordure rouge sur l’input invalide */
input.ng-invalid.ng-touched {
  border-color: red;
  outline: none;
  box-shadow: 0 0 3px red;
}

/* Bordure verte sur l’input valide */
input.ng-valid.ng-touched {
  border-color: green;
  box-shadow: 0 0 3px green;
}
/* pour le button submit */
.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
