<div class="historique-container">
    <h2>Mes Achats</h2>

    @if (chargement()) {
        <app-loading></app-loading>
    }

    <div class="liste-commandes">
        @if (chargement() == false && commandesTrieesEtFiltrees().length > 0) {
            <div class="filtres-container">
                <button [class.actif]="filtreStatut() === 'tous'" (click)="changerFiltre('tous')">
                    Tous
                </button>
                <button [class.actif]="filtreStatut() === 'livré'" (click)="changerFiltre('livré')">
                    Livrés
                </button>
                <button [class.actif]="filtreStatut() === 'en cours'" (click)="changerFiltre('en cours')">
                    En cours
                </button>
                <button [class.actif]="filtreStatut() === 'en attente paiement'" (click)="changerFiltre('en attente paiement')">
                    En attente paiement
                </button>
                <button [class.actif]="filtreStatut() === 'annulé'" (click)="changerFiltre('annulé')">
                    Annulés
                </button>
            </div>

        }

        @if (commandesTrieesEtFiltrees().length == 0 && !chargement() && filtreStatut() !== 'tous') {
            <div class="empty-state">
                <p>Aucun achat trouvé pour le filtre sélectionné.</p>
            </div>
        } @else {

            @for (achat of commandesTrieesEtFiltrees(); track achat.achatId) {
                <div class="carte-achat" (click)="goToDetailsAchat(achat.achatId)">
                    <div class="image-produit">
                        <img [src]="achat.image" [alt]="achat.nom">
                    </div>
                    
                    <div class="infos-achat">
                        <h3>{{ achat.nom }}</h3>
                        <p class="info-date">{{ achat.dateAchat | date:'dd/MM/yyyy HH:mm' }}</p>
                        <p class=".info-short">Région : {{ achat.regionProduit }}</p>
                        <p class=".info-short">Adresse livraison : {{ achat.addresseLivraison }}</p>
                        <p class="prix">{{ achat.prixTotal }} {{ achat.paiement.devise }}</p>
                    </div>

                    <div [class]="'statut-badge '+ achat.status.replaceAll(' ', '-').toLowerCase()">
                        {{ achat.status }}
                    </div>
                </div>
            } @empty {
                @if (!chargement()) {
                    <div class="filtres-container">
                        <button (click)="goBack()" class="btn-retour">
                            Retour boutique
                        </button>
                    </div>

                    <div class="empty-state">
                        <p>Aucun achat trouvé pour votre compte.</p>
                    </div>
                }
            }
        }
    </div>
</div>