
.historique-container {
  position: relative;
  padding: 15px;
  margin: 0 auto;
}

h2 {
  color: var(--primary-color);
  padding: 7.5px 7.5px;
  margin: 0 -7.5px;
  font-weight: 700;
  text-align: center;
  position: sticky;
  z-index: 500;
  top: 9vh;
  background: white;
}

/* Loader */
.loader {
  text-align: center;
  padding: 30px;
  font-style: italic;
  color: #666666;
}

/* Liste des commandes */
.liste-commandes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filtres-container {
  display: flex;
  gap: 10px;
  padding: 10px 7.5px;
  margin: 0 -7.5px;
  overflow-x: auto; 
  scrollbar-width: none;
  position: sticky;
  z-index: 500;
  top: 13vh;
  background: white;
}

.filtres-container::-webkit-scrollbar {
  display: none; /* Cache la scrollbar sur Chrome/Safari */
}

.filtres-container button {
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid #eee;
  background: white;
  color: #7f8c8d;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
}

/* Style quand le bouton est sélectionné */
.filtres-container button.actif {
  background: var(--accent-color);
  color: white;
  border-color: var(--accent-color);
  box-shadow: 0 4px 10px rgba(102, 169, 189, 0.3);
}

/* Hover sur les boutons non-actifs */
.filtres-container button:hover:not(.actif) {
  border-color: var(--primary-color);
  color: var(--primary-color);
}


/* Carte d'achat - Design Mobile First */
.carte-achat {
  background: #ffffff;
  border-radius: 12px;
  /* padding: 15px; */
  display: grid;
  /* Grille mobile : Image à gauche, Texte à droite, Badge en bas */
  grid-template-columns: 80px 1fr;
  grid-template-areas: 
    "img info"
    "badge badge"; 
  gap: 15px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.carte-achat:hover{
  border: 2px solid var(--primary-color);
  transform: scale(1.01);
}


.image-produit {
  grid-area: img;
}

.image-produit img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #eeeeee;
}

.infos-achat {
  grid-area: info;
}

.infos-achat h3 {
  margin: 0;
  font-size: 1rem;
  color: #333333;
}

.info-short {
  margin: 4px 0;
  font-size: 0.85rem;
  color: #7f8c8d;
  /* Tronquer le texte si l'adresse est trop longue */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.info-date {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--accent-color); /* Ton bleu moyen */
}

.prix {
  margin: 0;
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.1rem;
}


/* Badges de Statut */
.statut-badge {
  grid-area: badge;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

/* Couleurs fixes pour les statuts */
.statut-badge.livré { 
  color: white; 
  background: var(--primary-color); 
}

.statut-badge.en-route { 
  color: white; 
  background: var(--warning-orange); 
}

.statut-badge.annulé { 
  color: white; 
  background: var(--warn-color); 
}


.statut-badge.en-preparation {
  color: white;
  background: var(--accent-color); 
}

.empty-state {
  text-align: center;
  padding: 50px;
  background: #ffffff;
  border-radius: 12px;
  color: #95a5a6;
  border: 1px dashed #cccccc;
}

.empty-state .btn-retour{
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid #eee;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  color: white;
  background: var(--warn-color);
}
.empty-state .btn-retour:hover{
  color: var(--warn-color);
  background: white;
  border: 2px solid var(--warn-color);
}

/* --- RESPONSIVE : Tablettes et PC (600px et plus) --- */
@media (min-width: 600px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 100px 1fr 140px;
    grid-template-areas: "img info badge";
    padding: 10px;
    margin: 10px 0;
  }

  .image-produit img {
    width: 100px;
    height: 100px;
  }

  h2 {
    text-align: left;
    font-size: 1.8rem;
  }
}

@media (550px <= width < 600px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 90px 1fr 140px;
    grid-template-areas: "img info badge";
    padding: 10px;
    margin: 5px 0;
  }

  .image-produit img {
    width: 90px;
    height: 90px;
  }

  h2 {
    text-align: left;
    font-size: 1.8rem;
  }

  .statut-badge {
    padding: 8px;
    font-size: 0.6rem;
  }
}

@media (470px <= width < 550px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 90px 1fr 120px;
    grid-template-areas: "img info badge";
    padding: 10px;
    margin: 5px 0;
  }

  .image-produit img {
    width: 90px;
    height: 90px;
  }

  h2 {
    text-align: left;
    font-size: 1.5rem;
  }

  .statut-badge {
    font-size: 0.6rem;
  }
}

@media (430px <= width < 470px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 90px 1fr 120px;
    grid-template-areas: "img info badge";
    padding: 10px;
    margin: 5px 0;
  }

  .image-produit img {
    width: 90px;
    height: 90px;
  }

  h2 {
    text-align: left;
    font-size: 1.2rem;
  }

  .info-date{
    font-size: 0.7rem;
  }

  .prix{
    font-size: 0.8rem;
  }

  .statut-badge {
    padding: 8px 4px;
    font-size: 0.6rem;
  }
}

@media (410px <= width < 430px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 80px 1fr 110px;
    grid-template-areas: "img info badge";
    padding: 10px;
    margin: 5px 0;
  }

  .image-produit img {
    width: 80px;
    height: 80px;
  }

  h2 {
    text-align: left;
    font-size: 0.8rem;
  }

  .info-date{
    font-size: 0.65rem;
  }

  .prix{
    font-size: 0.7rem;
  }

  .statut-badge {
    padding: 6px 2px;
    font-size: 0.55rem;
  }
}

@media (360px <= width < 410px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 70px 1fr 90px;
    grid-template-areas: "img info badge";
    padding: 10px;
  }

  .image-produit img {
    width: 70px;
    height: 70px;
  }

  h2 {
    text-align: left;
    font-size: 0.8rem;
  }

  .info-date{
    font-size: 0.65rem;
  }

  .prix{
    font-size: 0.7rem;
  }

  .statut-badge {
    padding: 6px 2px;
    font-size: 0.45rem;
  }
}

@media (340px <= width < 360px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 60px 1fr 80px;
    grid-template-areas: "img info badge";
    padding: 10px;
  }

  .image-produit img {
    width: 60px;
    height: 60px;
  }

  h2 {
    text-align: left;
    font-size: 0.7rem;
  }

  .info-date{
    font-size: 0.55rem;
  }

  .prix{
    font-size: 0.65rem;
  }

  .statut-badge {
    padding: 6px 2px;
    font-size: 0.45rem;
  }
}

@media (320px <= width < 340px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 55px 1fr 70px;
    grid-template-areas: "img info badge";
    padding: 8px;
  }

  .image-produit img {
    width: 55px;
    height: 55px;
  }

  h2 {
    text-align: left;
    font-size: 0.6rem;
  }

  .info-date{
    font-size: 0.6rem;
  }

  .prix{
    font-size: 0.6rem;
  }

  .statut-badge {
    padding: 6px 2px;
    font-size: 0.42rem;
  }
}

@media (width < 320px) {
  .carte-achat {
    /* Tout sur une seule ligne sur grand écran */
    grid-template-columns: 55px 1fr;
    grid-template-areas: "img info" 
                        "badge badge";
    padding: 8px;
  }

  .image-produit img {
    width: 55px;
    height: 55px;
  }

  h2 {
    text-align: left;
    font-size: 0.6rem;
  }

  .info-date{
    font-size: 0.6rem;
  }

  .prix{
    font-size: 0.6rem;
  }

  .statut-badge {
    padding: 6px 2px;
    font-size: 0.42rem;
  }
}



