/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Palette BaByTo pour enfants */
:root {
  --primary-color: #94D8B5;  /* Vert moyen */
  --accent-color: #66A9BD;   /* Bleu moyen */
  --warn-color: #E6737E;     /* Corail moyen */

}

