.filtre-produit-container {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    background:  var(--mat-sys-surface);
}

.filtre-produit-container h2 {
    font-size: 1.1em;
    font-weight: 500;
    margin:  5px 0;
    color: #333;
}

.filtre-classement {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px; 
    overflow-y: hidden;
    overflow-x: scroll;
}

/* Styles pour les boutons Material */
.filtre-classement button {
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
    background: var(--primary-color);
    color: white;
    border: none;
    flex-shrink: 0;
}
.filtre-classement button:hover{
    background: var(--accent-color);
}

.filtre-classement button:focus{
    background: white;
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
}

.search-box {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 8px 0;
}

/* 3. Style de l'Input */
.search-box input[type="text"] {
    /* flex-grow: 1;  */
    padding: 10px 12px;
    border: 1.8px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1em;
    width: 75%;
    box-sizing: border-box;
}
.search-box input[type="text"]:focus{
    outline: none; 
    border: 1.8px solid var(--accent-color);
}

/* S'applique aux écrans de 600px de large ou moins (typique des téléphones) */
@media (max-width: 600px) {

    .search-box input[type="text"] {
        width: 100%; 
    }
}
