.filtre-produit-container {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    background:  var(--mat-sys-surface);
}

.filtre-produit-container h2 {
    font-size: 1.1em;
    font-weight: 500;
    margin:  5px 0;
    color: #333;
}

.filtre-classement {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    overflow-x: auto; /* Défilement horizontal sur mobile */
    scrollbar-width: none;  /* Cache la scrollbar sur Firefox */
}
.filtre-classement::-webkit-scrollbar {
    display: none; /* Cache la scrollbar sur Chrome/Safari */   
}

/* Styles pour les boutons Material */
.filtre-classement button {
    padding: 8px 20px;
    border-radius: 25px;
    border: 2px solid #eee;
    background: white;
    color: #7f8c8d;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.filtre-classement button.actif{
    background: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
    box-shadow: 0 4px 10px rgba(102, 169, 189, 0.3);
}

.filtre-classement button:hover:not(.actif) {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.search-box {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 8px 0;
}

/* 3. Style de l'Input */
.search-box input[type="text"] {
    /* flex-grow: 1;  */
    padding: 10px 12px;
    border: 1.8px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1em;
    width: 75%;
    box-sizing: border-box;
}
.search-box input[type="text"]:focus{
    outline: none; 
    border: 1.8px solid var(--accent-color);
}

/* S'applique aux écrans de 600px de large ou moins (typique des téléphones) */
@media (max-width: 600px) {

    .search-box input[type="text"] {
        width: 100%; 
    }
}
