<div class="filtre-produit-container">
    
    <h2>Filtrer par classement :</h2>

    @if (chargement()) {
        <app-loading></app-loading>
    }

    <div class="filtre-classement">
        @for (classement of menuClassement; track classement) {
            <button 
                [class.actif]="classement === defaultClassementSelected()"
                (click)="selectionnerFiltre(classement)">
                
                {{ classement }}
            </button>
        }
        
        @empty {
            @if (!chargement()) {
                <p class="no-classement">Aucun classement disponible.</p>
            }
        }
    </div>

   @if (!this.chargement()) {
        <div class="search-box">
            <input 
                id="search"
                type="text" 
                placeholder="Tapez le nom d'un produit..."
                #searchBox
                (keyup)="onSearchChange(searchBox.value)"
            >
        </div> 
   } 

</div>