<form [formGroup]="produitForm" (ngSubmit)="onSubmit()" class="form-container">

  <div class="form-header">
    <div class="back-button">
      <button mat-icon-button color="warn" (click)="goBack()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div>
      <h2>Formulaire pour votre commande</h2>
    </div>

    <div>
      <img [src]="produit?.imageUrl" alt="">
    </div>
  </div>

  <div>
    <h3>Nom du produit : {{produit?.nom}}</h3>
    <h3>Prix : {{produit?.prix | currency:'EUR'}}</h3>
    <p>Description: {{produit?.description}}</p>
  </div>
 
  <div >
    <div class="form-group">
      <label for="quantite">Quantite</label>
      <input id="quantite" formControlName="quantite" type="number" min="1" step="1" />

      @if (produitForm.get('quantite')?.errors?.['required']) {
        <span class="error-message">La quantité est obligatoire</span>
      }
      @if (produitForm.get('quantite')?.errors?.['min']) {
        <span class="error-message">La quantité doit être au moins 1</span>
      }
      @if (produitForm.get('quantite')?.errors?.['notInteger']) {
        <span class="error-message">La quantité doit être un entier</span>

      }
    </div>
  </div>

  <div>
    <h3>Prix total : {{prixTotal}}</h3>
  </div>


  <button type="submit" class="btn" [disabled]="produitForm.invalid">Ajouter au pannier</button>

</form>
